@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    @apply bg-slate-500;
}
.hero-title{
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 5px black;
}


