@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    @apply scroll-smooth;
}
.app {
    @apply bg-primary-900;
}
.btn-size {
    @apply w-[250px] h-[50px]
}
.print-btn{
    @apply btn-size hidden cursor-pointer xl:flex relative top-[-50px] z-10 ml-auto mr-auto rounded-full justify-center items-center 
    text-2xl text-acent-200 font-bold border-4 text-center border-primary-200 hover:text-primary-100 
    before:w-full before:h-full before:absolute before:z-[-1] before:rounded-full
    before:transition-all before:duration-500 hover:before:bg-primary hover:before:rotate-[15deg] animate-bounce hover:animate-none;
}
.print-btn:hover span {
  font-size: 80px;
  transform: translate(-10%, -10%) rotate(1turn);
}
.hero-img {
    animation-name: heroImg;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.wave{
    @apply w-full h-[150px] absolute left-0 top-0;
    animation: wave 4s linear infinite;
    background: url('./assets/images/wave.svg');
}
#wave2{
    @apply top-[-50px] opacity-50 z-10;
    animation: wave-revert 4s linear infinite;
}
@keyframes wave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x:0px
    }
}
@keyframes wave-revert {
    
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x:1000px
    }
}

@keyframes heroImg {
    from {
        @apply opacity-25;
    }

    to {
        @apply drop-shadow-hero opacity-100;
    }
}

.hero-title {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 5px black;
}

@keyframes heroTitle {
    from {
        @apply opacity-0 left-0;
    }

    to {
        @apply opacity-100;
    }
}

@media print {
    @page{
        size:portrait;
    }
    .app {
        @apply bg-transparent text-primary-900;
    }
    .project-card{
        -webkit-print-color-adjust: exact; 
        @apply flex-row !w-full border-4 border-primary-900;
    }

    .when-print-hide {
        display: none;
    }

    .when-print-block {
        display: block;
    }
    .when-print-flexCol {
        @apply flex-col
    }
    .when-print-items-center{
        @apply items-center
    }
    .when-print-text-white {
        @apply text-primary-100;
    }

    .when-print-text-black {
        @apply text-primary-900;
    }
    .when-print-bg-light{
        @apply bg-primary-100;
    }
    .when-print-bg-dark {
        @apply bg-primary-900;
    }
}